<html>
<body>
    <h1>Add a New Customer</h1>
    <form method="post" action="">
        first name <br> <input type="text" name="first_name"/><br><br>
        last name <br> <input type="text" name="last_name"/><br><br>
        phone <br> <input type="text" name="phone"/><br><br>
        email <br> <input type="text" name="email"/><br><br>
        city <br> <input type="text" name="city"/><br><br>
        street <br> <input type="text" name="street"/><br><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
<style>
    input[type="submit"] {
        margin-left: calc(50% - 50px);
        background: #7a2121;
        color: #fff;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
    }

    body {
        font-family: sans-serif;
        background-color: antiquewhite;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>