<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OPERATION SUCCESSFUL</h1>
    <a href="/"><h3>Return</h3></a>
</body>
</html>

<style>
    body {
        background: #ffffab;
        width: 500px;
        margin-inline: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
    }

    a {
        text-decoration: none;
        background: #7a2121;
        color: #fff;
        padding: 0.5rem 3rem;
        border-radius: 2rem;
    }

    h3 {
        font-weight: normal;
    }
</style>